@using Hanabi.Models
@model LoginViewModel
@{
    ViewBag.Title = "Hanabi ";
}
<header>
    <div class="header-container">
        @Html.Partial("_LoginPartial")
    </div>
</header>

@using Microsoft.AspNet.Identity
<div class="main">
    @if (Request.IsAuthenticated)
    {
        <div class="container index">
            <div class="title">
                Available Games
            </div>
            <div class="games"></div>
            <hr />
            <div class="title">
                New Game
            </div>
            <input type="text" placeholder="Game Name" id="game_name"/>
            <input type="number" min="2" max="5" placeholder="4" id="num_players"/>
            <div class="button" id="addgame">Add Game</div>
            <div class="whitespace"></div>
        </div>
        
        
        
        <script>
            var user = "@User.Identity.GetUserName()";
        </script>
        @Scripts.Render("~/Scripts/hanabi/index.js");
    }
    else
    {
        <div class="container index">
        
            <div class="title2">Hanabi</div>
            <div class="row">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "label" })
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Log in" class="btn btn-default form-control" />
                    </div>
                }
            </div>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    }
</div>