<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Halant' rel='stylesheet' type='text/css'>
    <link href='http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/hanabi/phone.css")
    @Styles.Render("~/Content/hanabi/general.css")
    @Styles.Render("~/Content/hanabi/tablet.css")
    @Styles.Render("~/Content/hanabi/desktop.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("http://code.jquery.com/ui/1.11.2/jquery-ui.js")
</head>
<body>
    <header>
        @*<div class="header-container">
            @Html.Partial("_LoginPartial")
        </div>*@
    </header>
    @RenderBody()

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
